body {
    font-family: monospace;
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: bisque;
}

.hi-vi {
    font-size: 3rem;
    margin-top: 20px; /* Add space at the top */
    color: #333;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.apology {
    margin-top: auto; /* Push the paragraph further down */
    text-align: center;
    line-height: 1.6;
    font-size: 1.2rem;
    color: #333;
}

.apology span {
    background-color: yellow;
    color: red;
}
ul{
    font-size: 20px;
}